body {
  background-color: #edc79c;
  font-family: "Helvetica";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */